.bat {
  position: fixed;
  top: -10vh;
  pointer-events: none;
  z-index: 9999;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(-10vh) translateX(0vw);
  }
  to {
    transform: translateY(110vh) translateX(20vw);
  }
}
